<ng-container *ngIf="playDemo$ | async; else finished">
    <ws-demo-player #demoPlayer
                    (paused)="paused = true"
                    (resumed)="paused = false"></ws-demo-player>
    <ws-demo-footer [demoPlayer]="demoPlayer"
                    [paused]="paused"></ws-demo-footer>
</ng-container>
<ng-template #finished>
    <div class="container">
<!--
        <ws-menu></ws-menu>
-->
        <ws-summary></ws-summary>
<!--
        <ws-bookmarks></ws-bookmarks>
-->
    </div>
</ng-template>
