@import "../config";

:host {
    display: flex;
    height: 40rem;
    padding-top: 135px;
    background-color: #d9dbfc;

    .message {
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
}
