@import "../config";

:host {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    a {
        margin-left: map-get($spacers, 3);
        margin-right: map-get($spacers, 3);
        line-height: 135px;
    }
}
