<h2>Working demonstration of my front-end skills</h2>
<p>
    <a href="#">Bookmarks</a>, is an example of taking an idea from concept to delivery as
    a full stack project. Implemented with Angular on the front-end, and NodeJS on the back
</p>

BOOKMARKS
<hr/>
<div class="description">
    <div class="placeholder" style="width: 200px; height: 200px;"></div>
    <div class="nodes">
        This is a description.
        <ul>
            <li>Reactive programming.</li>
            <li>Reactive programming.</li>
            <li>Reactive programming.</li>
            <li>Reactive programming.</li>
        </ul>
    </div>
</div>

<div class="description flex-row-reverse">
    <div class="placeholder" style="width: 200px; height: 200px;"></div>
    <div class="nodes">
        This is a description.
    </div>
</div>
