ws-menu {
  display: flex;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f9f8f5;
  align-items: baseline;
}

ws-menu .brand {
  font-size: 32px;
}

ws-menu .brand .prefix {
  font-weight: bold;
}
