<img src="/assets/profile-175x175.jpg" alt="Profile">
<div class="">
    <h1>Hello, my name is Nick Foscarini.</h1>
    <p>
        I'm a Full Stack Developer with 10+ years' experience in software development. I
        have a passion for the front-end and created this website to share working
        demonstrations and source code of what I can do. If you're looking for a developer
        who's worked with Angular, React, NodeJS, PHP, C#, Linux, MySQL, MongoDB,
        PostgresSQL and everything in between, then take a moment and try one of my demos
        and experience what I can do.
    </p>
</div>
