@import "../config";

ws-summary {
    display: flex;
    color: $color;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    .column {
        width: 50%;
    }

    h1 {
        font-size: 28px;
        color: $titleColor;
        padding-bottom: 12px;
    }

    img {
        width: 256px;
        height: 209px;
    }
}
