.terminal-theme {
    color: #ccc;
    background: #000;

    //.c0 {
    //}

    .c1 {
        color: darken(#8AE234, 10%);
    }

    .c2 {
        color: #689BCC;
    }

    .c3 {
        color: #FCE94F;
    }

    .c4 {
        color: darken(#EB2728, 10%);
    }

    .c5 {
        background-color: #ccc;
        color: #000;
    }
}
