@import "../config";

:host {
    .top-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        transition: background-color 300ms ease-in-out,
        box-shadow 300ms ease-in-out,
        color 300ms ease-in-out;

        a {
            color: $white;
            transition: color 300ms ease-in-out;
        }

        &.docked {
            background-color: $white;
            box-shadow: 0 1px 3px $gray-200;

            a {
                color: $gray-800;

                &.active {
                    color: $gray-600;
                }
            }
        }
    }

    .brand {
        margin-left: map-get($spacers, 5);

        .prefix {
            font-weight: bold;
        }
    }

    .menu {
        display: flex;
        margin-left: auto;
        margin-right: map-get($spacers, 5);

        a {
            font-size: 18px;
            font-weight: bold;
            margin-left: map-get($spacers, 3);
            margin-right: map-get($spacers, 3);

            &.active {
                color: $white-800;
            }
        }
    }
}
