@import "../config";

ws-render-buffer {
    display: flex;
    flex-direction: column;

    .blink {
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    .cursor {
        display: inline-block;
        position: relative;

        &::after {
            display: block;
            position: absolute;
            top: -1rem;
            height: 1.2rem;
            width: 2px;
            background-color: $gray-800;
            content: ' ';
            animation: blink-animation 800ms steps(5, start) infinite;
        }
    }
}
